.photo {
	margin:512px 0px 150px 0px;
}
.detail {
	margin:0px 150px 16px 150px;
}
.slide {
  display:none;
}
#slides .slide-header {
  display: none
}
.slide-footer .previous {
  width:40px;
  height:40px;
  margin:-345px 0px 0px -60px;	
  background-image:url('previous.png');
  float:left;
}
.slide-footer .next {
  width:40px;
  height:40px;
  margin:-345px -60px 0px 0px;	
  background-image:url('next.png');
  float:right;
  text-align:right;
}