<footer>
<div class="hide-for-small">
<div class="row">
	<div id="footer-content">
    	<div class="large-2 medium-2 columns">
    		<ul>
    		<li><a href="mailto:ed_hamilton@live.com" target="_blank">Email</a></li>
    		<li><a href="https://twitter.com/ed_hamilton812" target="_blank">Twitter</a></li>
    		<li><a href="http://instagram.com/ed_hamilton812" target="_blank">Instagram</a></li>
			<li><a href="mailto:ed_hamilton@live.com">Contact</a>
    		</ul>
    	</div>
    	<div class="large-2 medium-2 columns">
    	</div>
    	<div class="large-6 medium-6 large-offset-1 medium-offset-1 columns"></div>
	</div>
</div>
<div class="row">
	<div class="large-2 medium-2 small-6 columns">
		<ul>
		<li>© 2014 madebyeggs</li>
		</ul>
	</div>
	<div class="hide-for-small">
    	<div class="large-6 medium-6 large-offset-3 medium-offset-3 columns">
    	</div>
    	<div class="large-1 medium-1 columns">
			<div id="to-top-arrow">
			<img src="assets/arrow.png" class="topLink">
			</div>
    	</div>
	</div>
	<div class="show-for-small">
    	<div class="large-2 medium-2 small-6 columns">
	    	<div id="back-to-top">
		    	<ul class="topLink">
		    		<li>Back to top ↑</li>
		    	</ul>
	    	</div>
    	</div>
	</div>
</div>
</footer>