<div class="menu">
	<div class="main-menu">
		<ul>
			<li><a data-toggle="modal" data-target="#arabesque">Arabesque</a></li>
			<li><a data-toggle="modal" data-target="#sfs">Sketches for Skomer</a></li>
			<li><a data-toggle="modal" data-target="#btc">Behind the Clouds (for Zoë)</a></li>
			<li><a href="mailto:ed_hamilton@live.com">Contact</a>
		</ul>
	</div>
</div>

<div class="show-for-small">
	<nav class="top-nav">
		<div class="row">
			<div class="small-2 columns">
				<div id="logo-small" class="white">
					<a href="#">ED HAMILTON</a>
				</div>  
			</div>
			<!--<div class="large-6 medium-8 small-10 columns">
				<div id="button-wrapper">
					<button type="button" role="button" aria-label="Toggle Navigation" class="lines-button x" data-reveal-id="mobile-menu">
						<span class="lines-white"></span>
					</button>
				</div>
			</div>-->
		</div>
	</nav> 
</div>

<div class="hide-for-small">
	  <header>
	  	<div class="row">
	  		<div class="small-2 columns">
	  			<div id="logo">
	  				<a href="#">Ed Hamilton</a>
	  			</div>  
	  		</div>
	  		<nav class="large-7 large-offset-3 medium-8 medium-offset-2 small-10 columns">
		  		<div class="hide-for-small">
		  		  <ul id="header-nav">
		  		  <li><a data-toggle="modal" data-target="#arabesque">Arabesque</a></li>
		  		  <li><a data-toggle="modal" data-target="#sfs">Sketches For Skomer</a></li>
		  		  <li><a data-toggle="modal" data-target="#btc">Behind The Clouds (for Zoë)</a></li>
					<li><a href="mailto:ed_hamilton@live.com">Contact</a>
		  		  </ul>
		  		  </div>
	  		</nav>
	  	</div>
	  </header>
</div>